@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('./common.css');

html {
    scroll-behavior: smooth;
}

img[alt='logo'] {
    position: absolute;
    left: 11%;
    top: 3vw;
    width: 15vw;
}

div#main {
    height: 56vw;
}

article:nth-of-type(1) {
    top: -50vw;
    right: 10vw;
    color: white;
}

h1 {
    font-weight: 900;
    font-size: 6vw;
    line-height: 6.0vw;
    margin-bottom: 2.3vw;
}

h1 + p {
    font-size: 2.85vw;
    line-height: 2.4vw;
}

p {
    font-weight: 100;
    margin-bottom: 4.5vw;
}

a#quick_order {
    font-weight: 700;
    font-size: 2.5vw;
    border: 0.3vw solid #C393FF;
    border-radius: 1.5vw;
    padding: 1.0vw 4.5vw;
}

a#quick_order:hover {
    filter: brightness(120%);
    transition: 0.4s;
}

a#quick_order:active {
    font-size: 2.4vw;
    margin-right: 0.3vw;
}

/*second page styles*/
.page2 {
/*this is a shit epta, but coolest shit what i seen ever*/
    position: relative;
    border-top: 0.7vw solid transparent;
    border-image: linear-gradient(to right, #7664b6 0%, #937fd9 7%, #6856a9 20%, #5e5778 34%, white 35.75%);
    -moz-border-image: linear-gradient(to right, #7664b6 0%, #937fd9 7%, #6856a9 20%, #5e5778 34%, white 35.75%);
    -webkit-border-image: linear-gradient(to right, #7664b6 0%, #937fd9 7%, #6856a9 20%, #5e5778 34%, white 35.75%);
    border-image-slice: 1;
}

.truck2 {
    position: absolute;
    width: 37vw;
    left: 0;
    top: 0;
}

.page2 h1 {
    font-size: 5.5vw;
    right: 10.0vw;
    color: #5344E1;
    margin-top: 0;
    margin-bottom: 1.0vw;
    padding-top: 5vw;
}

.container{
    right: 10.0vw;
    top: -3vw;
}

.content-block h3 {
    font-weight: 800;
    font-size: 2.6vw;
    right: 2.5vw;
    top: 0vw;
    text-decoration: underline;
    text-underline-offset: 0.5vw;
    /*МЫ ПОБЕДИЛИ ЕБУЧИЕ ПИКСЕЛИ!!!*/
}

.container img[alt="Полка1"]{
    z-index: 0;
    position: absolute;
    right: -3%;
    width: 45.0vw;
}

.container img[alt="Полка2"]{
    z-index: 0;
    position: absolute;
    right: -3%;
    width: 80.0vw;
}

.content-block-1 {
    top: 2vw;
    z-index: 1;
}

div.content-block {
    margin: 5vw 0;
    padding-top: 3vw;
}

div.content-block * {
    margin: 0;
}

div.content-block p {
    font-weight: 300;
    font-size: 2.1vw;
    right: 2.5vw;
    line-height: 2.4vw;
}

/*third page styles*/

.page3 {
    position: relative;
    margin-bottom: 2vw;
    height: 56.3vw;
}

.page3 img[alt="wave-line"] {
    right: 0;
    top: 4vw;
    position: absolute;
}

.page3 h1{
    color: #8142CF;
    text-align: left;
    font-size: 5.5vw;
    left: 5%;
    
}

.whiteblock h3 {
    text-align: center;
    font-size: 2vw;
    font-weight: 700;
    line-height: 2vw;
}

.whiteblock p {
    text-align: center;
    font-size: 1.6vw;
    line-height: 1.5vw;
}

.whiteblock:not(h3, p) {
    padding: 4vw 1.5vw 0 1.5vw;
    width: 25vw;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 1.5vw;
    box-shadow: 0 0.6vw 1.3vw rgb(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    z-index:1;
}
.content-container {
    display: flex;
    justify-content: center;
    gap: 3vw;
    margin-top: 12vw;
}

.whiteblock-2{
    margin-top: 8vw;
}

.whiteblock {
    position: relative;
}

.whiteblock img {
    width: 6.5vw;
    position: absolute;
    left: -6%;
    top: -6%;
}

/* page 4 styles */

.page4 {
    margin-top: 5vw;
    position: relative;
    height: 43vw;
}

.page4 img[alt="background"] {
    position: absolute;
    top:0;
    left:0;
}

div.content-block4 {
    margin-bottom: 4vw;
}

.beta-cont {
    text-align: center;
    font-size: 2.5vw;
    padding-top: 4vw;
}

.beta-cont h4 {
    font-weight: bold;
    color: white;
    margin: 0;
}

.beta-cont .line {
    display: flex;
    gap: 32vw;
}

.beta-cont .line:nth-child(1) {
    left: 10vw;
}

.beta-cont .line:nth-child(2) {
    top: -1.5vw;
    gap: 25vw;
    left: 32vw;
}

div#advantages_grid {
    display: grid;
    grid-template-columns: 37% auto auto auto 37%;
    grid-template-rows: auto 8% auto;
    margin-top: 3vw;
}

div#advantages_grid hr {
    background-color: white;
    width: 80%;
    height: 0.1vw;
    border: none;
    grid-column: span 2;
    grid-row: 2;
}

div#advantages_grid hr:nth-of-type(2) {
    grid-column-start: 4;
    grid-column-end: 6;
}

div#advantages_grid * {
    color: white;
    line-height: 2.4vw;
    font-weight: 100;
    font-size: 1.75vw;
    margin: 0;
    padding: 0;
    align-self: center;
}

p.right {
    text-align: left;
}

div#advantages_grid p.big {
    font-weight: 800;
    font-size: 10vw;
    justify-self: center;
    margin: 2vw 0;
}

div#advantages_grid .top {
    align-self: end;
}

div#advantages_grid .bottom {
    align-self: start;
}

div#advantages_grid img[alt='task'] {
    width: 50%;
    margin: 0.5vw;
}

div#advantages_grid img.left {
    justify-self: end;
}

div#advantages_grid img.right {
    justify-self: start;
}

/* roadmap styles */

.roadmap {
    position: relative;
    border-top: 0.5vw solid white;
    /*px is SHIT, remember it, kids*/
}

.roadmap img[alt="backgorund"] {
    position: absolute;
    z-index: 1;
}

.roadmap img[alt="road"] {
    position: absolute;
    top: 5vw;
    left: 0;
    z-index: 4;
    height: 100vw;
}

.step-block {
    color: white;
    position: absolute;
    z-index: 4;
    top: 0;
}

.step-block h2 {
    font-weight: 900;
    font-size: 5.2vw;
    margin: 0;
    top:1.5vw;
}

.step-block h3 {
    font-weight: 700;
    font-size: 3vw;
    margin: 0;
    line-height: 2.3vw;
    top: 1vw;
}

.step-block p {
    font-weight: 200;
    font-size: 2vw;
    line-height: 2vw;
    top: 2vw;
    margin: 0;
}
.step-block1 {
    top: 5vw;
    left: 24vw;
}

.step-block2 * {
    text-align: left;
}
.step-block2 {
    top: 22vw;
    right: 6vw;
}

.step-block3 {
    top: 35vw;
    left: 39vw;
}

.step-block4 {
    top: 52vw;
    left: 6vw;
}

.step-block5 *{
    text-align: left;
}

.step-block5 {
    top: 76vw;
    left: 44vw;
}

.triangle-cont {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 83.99%;
    z-index: 4;
}

.roadmap img[alt="triangle_left"] {
    top: 1.2vw;
    width: 30vw;
}

.roadmap img[alt="triangle_right"] {
    width: 45vw;
}

/* team page styles */

.our-team {
    position: relative;
    top: -0.5vw;
    height: 56.3vw;
}

.our-team img[alt="background"] {
    z-index: 0;
}

.our-team img[alt = "logoteam"] {
    position: absolute;
    z-index: 1;
    top : 2.5vw;
    left: 28vw;
    width: 30vw;
}

.cards-block {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-left: 15vw;
    margin-right: 15vw;
    left: 0;
    right: 0;
    top: -36vw;
    overflow-x: hidden;
}

.card-container {
    width: min-content;

}

.card-container h3{
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 2.3vw;
    top: -0.5vw;
}

.card-container p {
    text-align: center;
    color: white;
    font-size: 1.5vw;
    font-weight: 100;
    top: -1vw;
}

/*vw is IMBA.
All progers must use vw.
If they don't, they are SHITcoders*/

/* vw {like: yes;}*/

.card-container img {
    width: 18vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 1.5vw;
    margin: 0 2.5vw;
}

.nav-container {
    position: relative;
    display: flex;
    top: -66vw;
    justify-content: space-between;
    margin: 0 8vw;
}

.nav-button {
    padding: 1vw;
    border-radius: 5vw;
    width: 6vw;
    background: none;
    border: none;
}

.nav-button:hover {
    background: rgb(0, 0, 0, 0.3);
    filter: contrast(200%);
    transition: 0.4s;
    cursor: pointer;
}

.nav-button:active {
    box-shadow: 0.1vw 0.1vw 0.1vw black;
    filter: contrast(50%);
    transition: 0.1s;
}

/* formA styles */

div#form {
    position: relative;
    top: -1.03vw;
    height: 71vw;
    overflow: hidden;
}

div#form .title-form {
    top: -66vw;
}

div#form img[alt = "background"] {
    width: 100vw;
}

div#form h1 {
    margin: 0 0 0 9vw;
    color: white;
    font-weight: 900;
    font-size: 5.5vw;
}

div#form p {
    color: #AEAEAE;
    font-weight: 300;
    top: -0.9vw;
    font-size: 2.2vw;
}

div#form h1 + p {
    margin: 0 0 0 15vw;
}

div#form * {
    width: fit-content;
}

form {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 1.1vw;
    margin-left: 11vw;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 3.5vw;
    backdrop-filter: blur(5px);
    padding: 2vw 2.7vw 1.5vw 2.7vw;
    top: -60vw;
    height: 29.9vw;
}

div#form form * {
    border: none;
    padding: 0.3vw;
    border-radius: 1.7vw;
    margin: 0.2vw;
    font-size: 1.5vw;
    text-align: left;
    width: 31vw;
    height: 4vw;
    background-color: #ADADAD;
    transition: 0.5s;
}

div#form form *:nth-child(5) {
    height: 5vw;
}

div#form input::placeholder {
    font-size: 1.6vw;
    color: #444444;
    left: -4vw;
}

div#form input:focus{
    outline: none;
    font-size: 2vw;
    filter: brightness(120%);
    transition: 0.5s;
}

div#form input[type = 'submit']:focus {
    left: 0;
}

div#form input:active {
    font-size: 2vw;
}

div#form input:not(input[type='submit']) {
    padding-left: 2vw;
}

div#form form input[type='submit'] {
    text-align: center;
    background: #6856B6;
    color: white;
    font-weight: 800;
    font-size: 2vw;
    width: 25vw;
}

div#form form input[type='submit']:hover {
    cursor: pointer;
    filter: brightness(120%);
    transition: 0.4s;
}

div#form form input[type='submit']:active {
    filter: brightness(80%);
    font-size: 1.8vw;   
    transition: 0.1s;
}

div#form img[alt = "A_box"] {
    position: relative;
    z-index: 4;
    top:-90vw;
    width: 40vw;
    right: 5vw;
}

div#form hr {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 56.5vw;
    width: 80%;
    height: 0.2vw;
    border: none;
    border-radius: 0.3vw;
    background-color: white;
}

/* footer styles */

footer.footer {
    position: relative;
    display: flex;
    justify-content: space-around;
    top:-15vw;
    color: white;
    font-size: 1.2vw;
    height: 10vw;
    margin-top: 1vw;
}

.footer .left-content h3{
    margin: 0;
    text-align: left;
}   

.footer .left-content {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.footer .right-block .right-content {
    margin-bottom: 2vw;
}

.footer .right-block *{
    margin: 0;
}

.footer .right-content h3{
    margin-bottom: 0.8vw;
}

.footer .right-block .right-content a{
    padding: 0.5vw;
    font-weight: 900;
    font-size: 1.3vw;
    color: black;
    background-color: #27a7e7;
    border-radius: 5vw;
}

.footer .right-block .right-content .vk{
    background-color: #0077FF;
    margin-right: 0.5vw;
}

.footer .right-block .right-content a:hover {
    filter: brightness(120%);
    transition: 0.4s;
}

.footer .right-block .right-content a:active {
    filter: brightness(80%);
    font-size: 1.2vw;
    transition: 0.2s;
}

.footer .right-block .right-content a.tg:active {
    margin-right: 0.1vw;
}

.footer .right-block .copyright {
    display: flex;
    align-items: center;
    font-size: 1vw;
    right: -6vw;
    line-height: 1vw;
    margin-top: 3vw;
}

.footer .right-block .copyright .c {
    font-size: 3vw;
    margin-right: 0.5vw;
}

/* media styles */

@media screen and (max-width: 1200px) {
    .our-team {
        position: relative;
        top: -2vw;
    }
    .triangle-cont {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%;
        top: 82.99%;
        z-index: 4;
    }
    .card-container h3{
        text-align: center;
        color: white;
        font-weight: 400;
        font-size: 2.3vw;
        top: -0.5vw;
        line-height: 2.3vw;
        margin-bottom: 1vw;
    }
    
    .card-container p{
        text-align: center;
        color: white;
        font-size: 1.5vw;
        font-weight: 100;
        top: -1vw;
        line-height: 1.6vw;
    }
    div#form {
        position: relative;
        top: -2.2vw;
    }
}